.home-page {
    font-family: Arial, sans-serif;
  }
  


/* Estilo para a seção de medicamentos */
.medicamentos-section {
  background-color: #000; /* Fundo escuro */
  color: white;
  border-radius: 12px;
  padding: 30px 40px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.hero-section {
  background-image: url('images/remedioazul.jpg'); /* Definindo a imagem como fundo */
  background-size: cover; /* Garantir que a imagem cubra toda a área da seção */
  background-position: center center; /* Centraliza a imagem */
  height: 520px; /* Ajuste a altura para preencher a tela inteira */
  color: white;
  display: flex;
  justify-content: center; /* Alinha o conteúdo ao centro verticalmente */
  align-items: center; /* Alinha o conteúdo ao centro horizontalmente */
}

.hero-section h1 {
  font-size: 2.5rem;
  color: white; /* Texto em branco para contraste */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra no texto para garantir legibilidade */
}

.hero-section p {
  font-size: 1.25rem;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Sombra no texto para garantir legibilidade */
}

.hero-section .btn {
  background-color: #0066cc; /* Cor do botão */
  color: white;
  border: none;
}

.hero-section .btn:hover {
  background-color: #78C2FF; /* Efeito de hover no botão */
}



  /* Features Section */
  .features-section {
    padding: 60px 0;
    background-color: #f8f9fa;
  }
  
  .feature-card {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .feature-card h5 {
    font-size: 1.5rem;
    color: #78C2FF;
  }
  
  .contact-section .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 4px;
    background-color: #0066cc; /* Cor azul */
    color: white;
    font-size: 1rem;
  }
  
  .contact-section .list-group-item {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    padding: 12px 0;
  }
  
  .contact-section .map iframe {
    border-radius: 10px;
  }
  
  